*.csv
*.zip
*.dot
*.obj
*.tmp
**/catboost_info/

coursera_aml_cds/concatenated
coursera_aml_cds/optimized_X
coursera_aml_cds/training
coursera_aml_cds/core
coursera_aml_cds/*.pickle

*.gz

coursera_aml_cds/pickled/*


**/.ipynb_checkpoints

coursera_aml_cds/__pycache__/
